<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
 
    <property name="LOGS" value="./logs" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>
    <property name="CONSOLE_LOG_PATTERN"
			  value="%black(%d{ISO8601}) %highlight%clr(${LOG_LEVEL_PATTERN:-%5p}) [%blue(%t)] %yellow(%C{1.}) : %msg%n%throwable"/>
    <property name="FILE_LOG_PATTERN"
			  value="(%d{ISO8601}) %clr(${LOG_LEVEL_PATTERN:-%5p}) [(%t)] (%C{1.}) : %msg%n%throwable"/>
    
    <appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>
 
    <appender name="RollingFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/application-logger.log</file>
        <rollingPolicy
            class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/application-logger-%d{yyyy-MM-dd}.%i.gz</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>    
            <maxHistory>4</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </encoder>
    </appender>
         
    <!-- LOG everything at INFO level -->
    <root level="INFO">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </root>
<!--    <logger name="org.springframework" level="DEBUG"/>
    <logger name="org.hibernate" level="DEBUG"/>-->
    <!-- LOG "com.baeldung*" at TRACE level -->
    <logger name="myLogger" level="INFO" additivity="false">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </logger>
 
</configuration>
